@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto+Mono:wght@300&display=swap");

// General setup
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

// Vars
$black: #181923;
$green: #33cc33;
$grey: #979ea5;

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

// Positioning
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.inner {
	flex: 0 1 1200px;
	padding: 0 20px;
}

// Fonts
h1,
h2,
h3,
h4 {
	font-family: "DM Sans", sans-serif;
	color: #fff;
	letter-spacing: 1px;
}

p {
	font-family: "Roboto Mono", monospace;
	color: #fff;
}

h1 {
	font-size: 35px;
	font-weight: 400;
	letter-spacing: 2px;
}

h2 {
	font-family: "Roboto Mono", monospace;
	font-size: 25px;
	font-weight: 400;
	color: $grey;
	margin: 0;

	span {
		display: inline-block;
		border-bottom: 1px solid $grey;
	}
}

h3 {
	font-size: 20px;
	font-weight: 400;
	margin: 0;
}

p {
	font-size: 18px;
	font-weight: 400;
	line-height:1.5;
}

a {
	color: $green;
}

// Regions
header {
	width: 100%;
	background: $black;
	margin-bottom: 50px;
	padding: 20px 0 50px;

	img {
		width: 250px;
		margin-bottom: 20px;
		padding: 0 20px;
	}
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.intro {
	margin: 0 0 40px;
	
	p{
		color: $black;
	}
}

.accordion {
	overflow: hidden;
	margin-top: 20px;

	&__question {
		position: relative;
		padding: 35px 20px;
		cursor: pointer;
		margin-bottom: 2px;
		background: #33cc33;
	}

	&__answer {
		padding: 0 20px;
		max-height: 0;
		overflow: hidden;
		will-change: max-height;
		transition: all 0.25s ease-out;
		opacity: 0;

		p {
			color: #000;
		}
	}

	&__active {
		.accordion__answer {
			padding: 0 20px 20px;
			opacity: 1;
		}
	}
}

footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	margin-top: 50px;
	padding: 50px 0;
	background: $black;

	a {
		margin: 0 15px;
		text-decoration: none;
	}
}

@media (min-width: 992px) {
	// Fonts
	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 24px;
	}
}
